<web-app>
    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>servlet.FrontController</servlet-class>ù
        <init-param>
            <param-name>controller-package</param-name>
            <param-value>controller</param-value>
            <description>Package pour la recherche de controller</description>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>